html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

  overflow-x: hidden;
}

.elBody{
  overflow-x: hidden;
}

#root{
  overflow-x: hidden;
}






.divPrincipal{

  display: grid;

  grid-template-columns: 20vw 1fr;
    grid-template-rows: 100px 70px 1fr ;

    grid-template-areas: 
    "eltitulo eltitulo" /* usamos el punto para poner una celda vacia*/
    "listah listah"
    "listav vista"; 
  
}

.divPrincipal{
  background-color: #ECC675;
}

.titulo{
  grid-area: eltitulo;
  background-color: #EF8979;
  text-align: center;
  font-size: 3rem;

  
}

.listaH{
  
  grid-area: listah;
  display: flex;
  

  background-color: #DBB5B0;
  


  
}
.elUl{
  
  padding-left: 10px;
  
  
  display: flex;

  
  
}

.elUl :hover{

  font-size: 1.5rem;
}
li{
  padding-right: 10vw;
  padding-top: 1rem;
  
  overflow-y: hidden;
  
  
}

.listaV{
  grid-area: listav;
  background-color: #E3D7A5;


  min-width: 13rem;
  overflow-wrap: break-word;
  text-align: center; 
  text-overflow: ellipsis;

  min-width: 14rem;
}

.panelVista{
  display: flex;
  grid-area: vista;
  min-height: 100vh;
  min-width: 100vw;
  

}

img{
  padding: 10px;
  width: 25vw;
  height: 25vh;
  position: center;
  
  
}

.divBajo{
  display: flex;
  min-width: 100vw;
  margin-top: 5px;
}


